#include <windows.h>

104 BITMAP "cbrush1.bmp"
105 BITMAP "cbrush2.bmp"
106 BITMAP "cbrush3.bmp"
107 BITMAP "cbrush4.bmp"
108 BITMAP "cbrush5.bmp"

AboutLogo BITMAP "ablogo.dib"

Spico ICON "spico.ico"

About DIALOG 57, 43, 187, 92
STYLE DS_SYSMODAL | WS_POPUP | WS_VISIBLE
BEGIN
	DEFPUSHBUTTON "SAIR", IDOK, 50, 70, 87, 16, WS_CHILD | WS_VISIBLE | WS_TABSTOP
END

SpCalc DIALOG 18, 70, 81, 82
STYLE DS_NOIDLEMSG | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME | WS_MINIMIZEBOX
CLASS "SpCalc"
CAPTION " SpCalc"
BEGIN
	PUSHBUTTON "0", 48, 5, 70, 10, 9, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "1", 49, 5, 57, 10, 9, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "2", 50, 18, 57, 10, 9, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "3", 51, 31, 57, 10, 9, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "4", 52, 5, 45, 10, 9, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "5", 53, 18, 45, 10, 9, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "6", 54, 31, 45, 10, 9, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "7", 55, 5, 33, 10, 9, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "8", 56, 18, 33, 10, 9, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "9", 57, 31, 33, 10, 9, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON ".", 46, 18, 70, 10, 9, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "+/-", 95, 32, 70, 10, 9, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "%", 37, 31, 21, 10, 9, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "\273\273", 8, 18, 21, 10, 9, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "C", 67, 5, 21, 10, 9, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "=", 61, 51, 70, 26, 9, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "M+", 77, 52, 58, 10, 9, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "+", 43, 67, 58, 10, 9, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "M-", 78, 52, 46, 10, 9, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "-", 45, 67, 46, 10, 9, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "Mr", 79, 52, 34, 10, 9, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "x", 120, 67, 34, 10, 9, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	CONTROL "Mc", 80, "BUTTON", BS_PUSHBUTTON | BS_LEFTTEXT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 52, 22, 10, 9
	PUSHBUTTON "ö", 47, 67, 22, 10, 9, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "Clip", 76, 62, 6, 14, 11, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	CONTROL "", 101, "static" WS_CHILD | WS_VISIBLE , 4, 4, 56, 14
	CONTROL "0", 100, "STATIC", SS_RIGHT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE | WS_BORDER, 6, 6, 52, 10
END

Prefer DIALOG 59, 35, 134, 77
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
BEGIN
	CONTROL "GUARDA", IDOK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 10, 60, 39, 14
	PUSHBUTTON "CANCELA", IDCANCEL, 54, 61, 35, 11, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	CONTROL "Op‡”es gerais", 103, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 6, 4, 79, 53
	CONTROL "Sempre no Topo", 101, "BUTTON", BS_CHECKBOX | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 15, 16, 61, 10
	CONTROL "Mesma posi‡„o", 102, "BUTTON", BS_CHECKBOX | WS_CHILD | WS_VISIBLE, 15, 29, 60, 11
	CONTROL "Clique", 110, "BUTTON", BS_CHECKBOX | WS_CHILD | WS_VISIBLE, 15, 43, 62, 11
	CONTROL "Padr„o", 109, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 94, 1, 31, 65
	CONTROL "P1", 104, "BUTTON", BS_RADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 100, 16, 19, 8
	CONTROL "P2", 105, "BUTTON", BS_RADIOBUTTON | WS_CHILD | WS_VISIBLE, 100, 26, 19, 7
	CONTROL "P3", 106, "BUTTON", BS_RADIOBUTTON | WS_CHILD | WS_VISIBLE, 100, 35, 19, 8
	CONTROL "P4", 107, "BUTTON", BS_RADIOBUTTON | WS_CHILD | WS_VISIBLE, 100, 45, 20, 8
	CONTROL "P5", 108, "BUTTON", BS_RADIOBUTTON |WS_CHILD | WS_VISIBLE, 100, 55, 21, 7
END



